* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

:root {
    --color-pink: #E02C6D;
    --color-gray-900: #18191F;
    --color-gray-700: #3A3A3A;
    --color-gray-100: #6C6C6C;
    --color-gray-50: #787885;
    --color-white: #ffffff;
    --font-primary: 'Poppins', sans-serif;
}

header {
    max-width: 1200px;
    margin: 0 auto;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 87px;

}

nav ul {
    display: flex;
    gap: 34px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-gray-700);
    font-size: 16px;
    font-weight: 600;
}

nav ul li a i {
    font-size: 24px;
}

nav ul li a:hover {
    transition: 0.3s;
    color: var(--color-pink);
}

nav h1 {
    font-size: 24px;
    font-weight: 900;
    color: var(--color-gray-700);
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 133px;
    margin-top: 130px;
}

.hero-text h1 {
    font-size: 52px;
    font-weight: 900;
    line-height: 70px;
    color: var(--color-gray-700);
}

.hero-text p {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-gray-700);
    line-height: 24px;
    margin: 16px 77px 16px 0px;

}

.btn {
    background-color: var(--color-pink);
    color: var(--color-white);
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var(--color-pink);
    border-radius: 40px;
    margin-top: 16px;
    cursor: pointer;
}

.btn i {
    margin-left: 8px;
}

.btn:hover {
    background-color: transparent;
    color: var(--color-pink);
    border: 1px solid var(--color-pink);
    transition: 0.3s;
}

.hero-image {
    background-image: url("../images/Circle\ design.svg");
    width: 475px;
    height: 475px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {}

.logo-container {
    max-width: 1110px;
    margin-top: 70px;
    margin: 0 auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent, #E02C6D, transparent)1;
}

.logo-image {
    display: flex;
    gap: 61px;
    padding: 44px 0px;
}

.collection-container {
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 100px;
}

.collection-container h1 {
    font-size: 36px;
    font-weight: 900;
    color: var(--color-gray-700);
    margin-bottom: 40px;
    text-align: center;
}
.collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; 
}
.collection-card {
    width: 330px;
    height: 475px;
    padding: 17px 14px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.collection-card h3 {
    font-size: 28px;
    font-weight: 500;
    color: var(--color-gray-900);
    margin: 12px 0px;
}

.collection-card p {
    font-size: 14px;
    font-weight: bold;
    line-height: 143%;
    letter-spacing: 1.8%;
    color: var(--color-gray-50);
    margin: 5px 0px;
}

.collection-card .price {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--color-gray-50);
}
.collection-card .rating i {
    color: #FB8200;
}
.rating {
    font-size: 18px;
}
.collection-container .btn {
    display: block;
    margin: 40px auto 0 auto;
    background-color: transparent;
    color: var(--color-pink);
    margin-bottom: 100px;
    border-radius: 2px;
}
.collection-container .btn:hover {
    background-color: var(--color-pink);
    color: var(--color-white);
    transition: 0.3s;
}